<div *ngIf="content">
  <br>
  <label class="mt-3 c-text-label"> <span [innerHtml]="content.headers.filterTag"></span></label>
  <div class="alert alert-default">
    <label class="c-text-subLabel">Mailing: </label>
    <select (change)="selectMailing($event.target)">
      <option> Select </option>
      <option *ngFor="let aProgram of programs"
              [value]="aProgram.mailingId">{{ aProgram.mailingItemId }}</option>
    </select>

    <span style="padding-left:2%; padding-right:6%;"></span>
    <label class="c-text-subLabel" >      CAP #: </label>
    <mat-form-field class="filter" floatLabel="never" style="margin-left:10px">
      <input matInput [formControl]="capNumberFilter">
    </mat-form-field>
  </div>
</div>
